/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500&display=swap');



*{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p,button{
	text-transform: uppercase;
}
p{
	text-align: justify;
}
a{
	text-decoration: none;
}
.container{
	width: 1140px;
	margin:0 auto;
}
header{
	width: 100%;
	height: 100vh;
	background: url(../img/banner.png)
	                        /*background-position: center;*/
}
.menubar{
	padding: 35px 0;
	display: flex;
	justify-content: space-between;
}

.menu-right{
	text-align: right;
}
.contact-no{
	font-family: 'Montserrat', sans-serif;
	color:#3d2514;
}
.menubar img{
	vertical-align: middle;
}
.menu{
	padding-top:15px;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 26px;
}
.menu ul li a{
	color: #3d2514;
	font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}
.menu ul li a:hover{
	padding: 15px;
	border-radius: 5px solid red;
	background:red;
	color: #3d2514;
	font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}
.banner{
	display: flex;
	flex-direction: column;
/*	align-items: center;
	vertical-align: middle;*/
	width: 100%;
	height:100vh;
}.banner p{
	border: 1px solid red;
	font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 5px;
    text-transform: uppercase;
    color: #3d2514;
}
.banner h1{
	font-size: 80px;
 	font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    color: #3d2514;
}
.banner h2{
	font-size: 36px;
 	font-family: 'Alfa Slab One', cursive;
    text-transform: uppercase;
    color: #3d2514;
}
/* burger post section */
.burger-post{
	width: 100%;
}
.posts{flex-grow:1;
	display: flex;
	justify-content: space-between;
}
.left,.right{
	padding: 20px;
}
.right .img-1{
	    margin-bottom: 25px;
}
.left-text h2{
	font-family: 'Bebas Neue', cursive;
	text-transform: uppercase;
}
.left-text h1{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.left{
	position: relative;
}
.left-text{
	   position: absolute;
    top: 50px;
    padding: 10px;
    color: white;
}
.img-1,.img-2{

    position: relative;
}
.right-text{
	    left: 15px;
    top: 5px;
    position: absolute;
    color: white;
}
.post-btn{
	margin: 20px;
	text-align: center;
	margin-bottom: 45px;
}
.post-btn h1,p{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
}
.post-btn p{
border-bottom: 1px solid black;
}
button{
	padding: 15px;
	background: transparent;
	text-align: center;
	border:none;
	border: 5px solid black;
	border-radius:21px;
}
/*service section*/
.our-service{
	width:100%;

}
.service{
	width: 100%;
    display: flex;
    justify-content: space-around;
	
}
.service1{
	padding: 5px;
}


/*slider er css*/

.slider{
	width:100%;
	margin: 20px auto;
}
.content{
	display: flex;
	padding: 20px 30px;
	
}
.slider-left{
	padding: 60px 0px;
}
.slider-left h5{
	font-family: 'Bebas Neue', cursive;	
}
.slider-left h1{
	font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    color: #3d2514;
    margin-bottom: 20px;
}
.slider-left p{
	   padding: 10px 15px 0px 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 20px;
   
}
.owl-theme .owl-nav{
	display: none;
}




/*font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/
